{% extends 'blog/base.html' %}
{% block title %}Articles{% endblock %}

{% block content %}
    <h1 class="text-center mb-4">Liste des Articles</h1>
    
    <div class="row">
        {% for article in object_list %}
            <div class="col-md-4 mb-4">
                <div class="card">
                    {% if article.image %}
                        <img src="{{ article.image.url }}" class="card-img-top" alt="{{ article.titre }}">
                    {% endif %}
                    <div class="card-body">
                        <h5 class="card-title">{{ article.titre }}</h5>
                        <p class="card-text">Publié par <b>{{ article.auteur }}</b> le {{ article.date_publication|date:"d/m/Y" }}</p>
                        <a href="{% url 'article_detail' article.pk %}" class="btn btn-primary">Lire</a>
                        <a href="{% url 'article_edit' article.pk %}" class="btn btn-warning">Modifier</a>
                        <a href="{% url 'article_delete' article.pk %}" class="btn btn-danger">Supprimer</a>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
{% endblock %}
